1\. feladat

In [3]:
SELECT UGYFEL_FK, FOGLALAS_PK, METTOL,
        DATEADD(MONTH, 1, METTOL) AS 'Módosított kezdődátum'
FROM Foglalas
WHERE UGYFEL_FK LIKE 'emese'

UGYFEL_FK,FOGLALAS_PK,METTOL,Módosított kezdődátum
emese,706,2016-07-22,2016-08-22
emese,765,2016-08-09,2016-09-09
emese,1083,2016-09-27,2016-10-27
emese,1250,2016-11-05,2016-12-05
emese,1313,2016-11-23,2016-12-23
emese,1354,2016-12-07,2017-01-07
emese,1484,2017-01-30,2017-02-28

2\. feladat

In [22]:
SELECT TIPUS,
        ROUND(AVG(CSILLAGOK_SZAMA),1)
FROM szallashely
GROUP BY TIPUS
HAVING TIPUS NOT LIKE 'panzió' AND AVG(CSILLAGOK_SZAMA) <= 3

TIPUS,(No column name)
Apartman,0
Diákszálló,0
Hotel,3
vendégház,0

3\. feladat

In [31]:
SELECT COUNT(f.FOGLALAS_PK), YEAR(v.SZUL_DAT)
FROM Foglalas f JOIN Vendeg v ON f.UGYFEL_FK = v.USERNEV
WHERE (FELNOTT_SZAM + GYERMEK_SZAM) > 2
GROUP BY YEAR(v.SZUL_DAT) >= 1985 AS 'fiatalok'

(No column name),(No column name)
23,1967
20,1968
15,1969
6,1970
11,1971
10,1972
13,1973
11,1974
29,1975
18,1976
10,1977
22,1978
10,1979
12,1980
7,1981
8,1982
18,1983
26,1984
15,1985
26,1986
14,1987
11,1988
17,1989
13,1990
11,1991
12,1992
8,1993
4,1994
17,1995
17,1996
29,1997
3,1998